# Tabular models

In [ ]:
from fastai.tabular.all import *

Tabular data should be in a Pandas `DataFrame`.

In [ ]:
path = untar_data(URLs.ADULT_SAMPLE)
df = pd.read_csv(path/'adult.csv')

In [ ]:
dep_var = 'salary'
cat_names = ['workclass', 'education', 'marital-status', 'occupation', 'relationship', 'race']
cont_names = ['age', 'fnlwgt', 'education-num']
procs = [Categorify, FillMissing, Normalize]

In [ ]:
#test = TabularList.from_df(df.iloc[800:1000].copy(), path=path, cat_names=cat_names, cont_names=cont_names)

In [ ]:
splits = IndexSplitter(list(range(800,1000)))(range_of(df))

In [ ]:
#splits = (L(splits[0], use_list=True), L(splits[1], use_list=True))

In [ ]:
to = TabularPandas(df, procs, cat_names, cont_names, y_names="salary", splits=splits)

In [ ]:
dls = to.dataloaders(bs=64)

In [ ]:
dls.show_batch()

In [ ]:
learn = tabular_learner(dls, layers=[200,100], metrics=accuracy)

In [ ]:
learn.fit(1, 1e-2)

## Inference -> To do

In [ ]:
row = df.iloc[0]

In [ ]:
learn.predict(row)